<!-- topnav.html -->
<header class="navbar navbar-expand-lg navbar-dark bg-primary" style="width: 100%;">
    <div class="container-fluid"> <!-- Change from 'container' to 'container-fluid' for full width -->
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ page.url == '/overview/' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ '/overview/' | relative_url }}">Overview</a>
                </li>
                <li class="nav-item {{ page.url == '/implementors/json_reference/' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ '/implementors/json_reference/' | relative_url }}">Reference</a>
                </li>
            </ul>
        </div>
    </div>
</header>
